$color-principal:#eaecf0;
$color-a:#3366cc;
$color-bordes:#72777d;
$sombra1: 0 2px 2px 0 rgb(0 0 0 / 25%);
$sombra-interna: inset 0 -1px 3px rgb(0 0 0 / 8%);
$fuente1:'Linux Libertine','Georgia','Times',serif;
$divisiones: 1px solid $color-bordes;
.posterior{
    list-style: none;
}
a{
    color: $color-a;
    text-decoration: none;
}a:hover,a:active{
    text-decoration: underline;
}

@mixin before{
    font-size: 1.5rem;
    text-shadow: 1px 4px 3px rgba(6, 173, 201, .6);
}


*{
    border:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    max-width: 825px;
    margin-left: auto;
    margin-right:auto;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding:5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color-principal;
    opacity:.85;
    box-shadow: $sombra-interna;
    .header_div1{
        display:inline-flex;
        align-items: center;
        .wikipedia{
            width:60%;
            height:75%;
            opacity: .7;
        }
        img{
            margin-left: 6px;
            margin-right: 12px;
        }
    }
    .header_div2{
        display:flex;
        justify-content: flex-end;
        img{
            margin-right: 7px;
            filter:brightness(.92);
        }
    }
    img{
        width:22px;
        height:22px;
    }
}

/**/
main{
    display: grid;/**//**/
    padding-top: 15px;
    gap:7px;
    .main_section-principal{
        border-bottom: .3px dotted $color-bordes;
        padding-bottom:40px;
        background-color: rgba(199, 202, 204 ,.1);
        border-radius: 8px;
    }
    .main_section1{
        display:flex;
        flex-wrap: wrap;
        padding-left: 10px;
        width:80%;
        h2{
            margin-bottom: 0;
            font-size: 2.7rem;
            font-weight: 500;
            line-height:2.85rem ;
        }
        p{
            margin-top: 8px;
            font-size:1.55rem;
            line-height:2.5rem;
        }
    }

    .main_div-caja{
        width:95%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: $sombra1;
        border-bottom: $divisiones;
        input{
            width:200px;
            padding-left: 10px;
            outline: none;
        }
    }
}

.section_h2_h3{
    text-align: center;
    padding-bottom: 25px;
    border-bottom: $divisiones;
    h3{
        margin-bottom: 2px;
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-bordes;
    }
    h2{
        margin-top: 3px;
        font-size: 2.3rem;
        font-weight: 600;
    }
    figure{
        display:flex;
        width:280px;
        margin: 0 auto;
        justify-content:center;
        flex-wrap: wrap;
    }
    figcaption{
        padding-top: 10px;
        font-family: cursive;
        color: $color-bordes;
    }
    p{
        width:90%;
        margin: auto;
        padding-top: 15px;
        line-height:2rem;
        font-size: 1.5rem;
        text-align: justify;
    }
}
.section_h2_h3_2{
    @extend .section_h2_h3;
}
.section_h2_h3_3{
    text-align: center;
    padding-bottom: 15px;
    border-bottom: $divisiones;
    h2{
    
    font-size: 2.2rem;
    color: $color-a;
    }
    img{
        width:280px;
    }
    p{
    width: 90%;
    margin: auto;
    padding-top: 15px;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align:center;
    }
}
.informacion1{
    align-items: center;
    padding-bottom: 5px;
    h2{
        margin-top: 0px;
        font-size:1.8rem;
    }
    b,a{
        font-size:1.3rem;
    }
    img{
        margin-top: 10px;
    }
}
.informacion1,.informacion2,.informacion3,.informacion4,.informacion5,.informacion6,.informacion7,.informacion8{

    display:grid;
    grid-template-columns: auto 50px;
    margin-top: 5px;
    padding-left: 4px;
    border-bottom: $divisiones;
    border-radius: 8px;
}

.informacion2,.informacion3,.informacion4,.informacion5,.informacion6,.informacion7,.informacion8{

    padding-top: 18px;
    padding-bottom: 10px;
    b,a{
        font-size: 1.3rem;
    }
    img{
        width:25px;
        height:25px;
    }
}
.informacion2{
    padding-top: 25px;
   }
.imgs_informacion {
    display:flex;
    justify-content:center;
}

/**//**/

    
.boton_idioma{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 2%;
    margin-top: 25px;
    width:80px;
    height:35px;
    border:$divisiones;
    border-radius: 2px;
    a{
        font-weight: bold;
        color:black;
    }
}

/*footer*/

footer{
    
    margin-top: 20px;
    border-top: $divisiones;
    background-color: $color-principal;
    border-radius: 8px;
.footer_div{
    display:flex;
    align-items: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    border-bottom: $divisiones;
    span{
    background-image: url("../assets/iconos/tiempo.png");
    background-repeat: no-repeat;
    width:35px;
    height: 25px;
    }
    p{
        margin-top: 5px;
        margin-bottom: 8px;
        font-size:1.4rem;
        a:hover{
            text-decoration: underline;
        }
    }
}
    img{

        width: 140px;
        margin-top: 75px;
        opacity: .8;
        margin-left: 15px;
    }
    .footer_div_parrafo{
        width:95%;
        margin:10px auto;
        border-top: $divisiones;
        font-size:1.4rem;
    }
    .footer_div_a {
       padding-bottom: 10px;
    }
}



/*aplicación media queries*/
@media(min-width: 520px){
    .main_section-principal{
        background-image: url("../assets/iconos/banner.svg");
        background-repeat: no-repeat;
        
    }
}
@media(min-width:620px){
    main{
        grid-template-columns: auto 50%  ;
        grid-template-rows: auto 390px auto;
    }
    .main_section-principal{
        grid-column: 1/3;
        background-image: url("../assets/iconos/banner.svg");
        background-repeat: no-repeat;
    }
    .section_h2_h3{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .section_h2_h3_2{
        text-align: center;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    /*bloque manejado con ::after*//**//**//**//**/
    .main_section1 .posterior{
        list-style:upper-roman;
        width:150px;
        position:absolute;
        text-align: center;
        margin-left:400px;
        line-height:2.2rem;
    }
    .posterior li{
        margin-left:55px;
        display:inline-block;
    }
    #a1::before{
        @include before;
        content: "1. Café";
    }
    #a2::before{
        @include before;
        content:"2. ¿Cómo colaborar?";
    }
    #a3::before{
        @include before;
        content: "3. Ayuda";
    }
    #a4::after{
        @include before;
        content: "4. Contacto";
    }

    .informacion1,.informacion2,.informacion3,.informacion4,.informacion5,.informacion6,.informacion7,.informacion8{
        border: .6px dotted $color-bordes;
        box-shadow: $sombra1;
    }

    .informacion1,.informacion2,.informacion3,.informacion4{
        grid-column: 1/2;
    }
    .informacion5{
        display:flex;
        align-items: center;
        grid-column: 2/3;
        grid-row:4/5;
        a{
            padding-right: 4px;
        }
        img{
            padding-right: 10px;
        }
    }
    .informacion6{
        grid-column: 2/3;
        grid-row:5/6;
        padding-top: 25px;
    }
    .informacion7{
        grid-column: 2/3;
        grid-row:6/7;
    }
    .informacion8{
        grid-column: 2/3;
        grid-row:7/8;
    }


}
@media(min-width: 680px){
    .main_section1 .posterior{
        margin-left: 480px;
    }
}
@media(min-width: 800px){
    .main_section1 .posterior{
        margin-left: 600px;
    }
}