doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="Wikipedia, libre, noticias, información, vida, infórmate")
        link(rel="icon", href="./assets/icono.png", type="image/x-icon")
        link(rel="stylesheet", href="./css/styles.css")
        title Wikipedia la enciclopedia libre
    body 
        header
            div.header_div1
                img(src="./assets/home.png", alt="")
                h1 Wikipedia
            div.header_div2
                img(src="./assets/search.png", alt="")
        main
            section
                section.main_section1
                    h2
                        a.ancla_section1(href= "#") Bienvenidos
                        span  a Wikipedia
                    p la enciclopedia de contenido libre que  
                        a.ancla_div(href="#") todos pueden editar
                div.main_div-caja
                    input#caja_busqueda(type="text", name="" placeholder = "Buscar en 1 175 919 artículos")
        footer